

<div ng-controller="changeWalletPassWordController as cp" class="pfixed topp">
    <nav ng-controller="topbarController as topbar" class="tab-bar">
            <section class="right-small">
                <button ng-click="cp.changePassWord(cp.walletId)" class="greencolor size-14" 
                ng-disabled="!cp.newadpass || !cp.comadpass || changepassW.$invalid || cp.newadpass !== cp.comadpass"><span translate>Save</span></button>
            </section>
            <section class="left-small">
                <a  ng-click="topbar.goToWaname(cp.walletType, cp.walletId, cp.address, cp.name, cp.image, cp.ammount, cp.mnemonic, cp.mnemonicEncrypted); goToWaname = null;index.backwaname = false;">
                     <img src="./img/back.png" />
                 </a>
            </section>
            <section class="middle tab-bar-section">
                <h1 class="title ellipsis" translate>Change password</h1>
            </section>
        </nav>
        <!-- header end -->
    <div class="f9fafch"></div>
    <form name="changepassW">
        <div class="addchan">
            <div class="adinputitem" mdinputvalidc>
                <div class="adinputic">
                    <div class="adinputimg aiwpass"></div>
                    <input type="password" autocomplete="new-password" name="newadpass" ng-model="cp.newadpass" mdinputpass ng-attr-placeholder="{{'New password'|translate}}"
                    autocomplete="off" ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18" />
                </div>
                <p class="adinputp" translate></p>
            </div>
            <div class="adinputitem" ng-class="{'setErrorexp':changepassW.newadpass.$valid && cp.newadpass !== cp.comadpass && cp.comadpass !== ''}">
                <div class="adinputic">
                    <div class="adinputimg aiwrpass"></div>
                    <input type="password" autocomplete="new-password"  name="comadpass" ng-model="cp.comadpass" placeholder="{{'Repeat password'|translate}}"
                    autocomplete="off" ng-minlength="1" ng-maxlength="18"
                    minlength="1" maxlength="18"
                    />
                </div>
                <p class="adinputpass" translate ng-show="changepassW.newadpass.$valid && cp.newadpass !== cp.comadpass && cp.comadpass !== ''">*Inconsistent password</p>
            </div>
            <div class="size-14 nzcolor m10t"><span translate>Forget password? Import mnemonics to reset your password.</span><a class="greencolor" ng-click="cp.goimport(cp.walletType, cp.walletId, cp.address, cp.name, cp.image, cp.ammount, cp.mnemonic, cp.mnemonicEncrypted);index.backpass=true;" translate>Import now</a></div>
        </div>
    </form>
</div>

