<div ng-controller="diceWinController as dice">
    <!--导入钱包-导入钱包  start-->
    <div class="cwpage iwpage pfixed topp" ng-init="dice.showtab = 'tabcold'">

        <!--浏览器默认的返回-->
        <div>
            <div
                    class="topbar-container"
                    ng-include="'views/includes/topbar.html'"
                    ng-init="titleSection='Import INVE wallet'; goToBackDefault = true;">
            </div>
        </div>
    </div>
    <div>
        11111111111111111
    </div>
</div>
