<!--
       discovery
       -->
<div ng-controller="discoveryController as dc" id="news" class="news pfixed topp" ng-class="{'zindex':dc.showselectwt}"
     style="overflow: hidden;"
     ng-init="dc.newsDatals();dc.quickData('up');dc.currencyData('up');dc.dappslider();">
    <div class="tabclicknav tab-bar">
        <div class="tab-container" ng-click="dc.shownewsnav = 'news';"
             ng-class="{'selectedf': dc.shownewsnav == 'news'}">
            <a translate>News</a>
        </div>
        <div class="tab-container" ng-click="dc.shownewsnav = 'dapp';"
             ng-class="{'selectedf': dc.shownewsnav == 'dapp'}">
            <a translate>DAPP</a>
        </div>
    </div>
    <div ng-show="dc.shownewsnav == 'news'" class="vh100singlge">
        <div class="tabclicktitle">
            <div class="tab-container" ng-click="dc.shownewstab = 'new1';"
                 ng-class="{'selected': dc.shownewstab == 'new1'}">
                <a translate>Newest</a>
            </div>
            <div class="tab-container" ng-click="dc.shownewstab = 'new2';"
                 ng-class="{'selected': dc.shownewstab == 'new2'}">
                <a translate>Newsletter</a>
            </div>
            <div class="tab-container" ng-click="dc.shownewstab = 'new3';"
                 ng-class="{'selected': dc.shownewstab == 'new3'}">
                <a translate>Quotes</a>
            </div>
        </div>
        <div class="posa tabnewsout dcin" ng-class="{'tabnewsin': dc.shownewstab == 'new2'}" id="new2tab">
            <div ng-if="!dc.online && !dc.quickloading" ng-click="dc.quickData('up');" class="nowire">
                <div class="nowirein">
                    <img src="./img/nowire.png"/>
                    <div class="nowireintext" translate>The network is not strong. Please click the screen to reload.
                    </div>
                </div>
            </div>
            <div class="newslistheight"
                 ng-if="(!dc.online && dc.quickloading) || (dc.quicklistshow == '' && dc.online && dc.quickloading)">
                <div class="newupload">
                    <div class="loadinglr">
                        <div class="loadinglr-container loadinglr1">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                        <div class="loadinglr-container loadinglr2">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                        <div class="loadinglr-container loadinglr3">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                    </div>
                    <span translate>Loading</span></div>
            </div>
            <div ng-if="dc.quicklistshow == '' && dc.online && !dc.quickloading" class="nonews"
                 ng-click="dc.quickData('up');">
                <div class="nonewsin">
                    <img src="./img/nonews.png"/>
                    <div class="nonewsintext" translate>No fresh content. Please click the screen to reload.</div>
                </div>
            </div>
            <div class="letterlist" ng-if="dc.quicklistshow !== '' && dc.online" id="new2tablist">
                <div class="newsupheight" id="quickupheight">
                    <div class="newuprelease"><img src="./img/pulldown.png"/><span translate>Pull down to refresh</span>
                    </div>
                    <div class="newupload">
                        <div class="loadinglr">
                            <div class="loadinglr-container loadinglr1">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr2">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr3">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                        </div>
                        <span translate>Loading</span>
                    </div>
                </div>
                <div class="datenow" id="datenow" ng-bind="dc.quickdatanow"></div>
                <div class="removescroll" id="removescroll2" quickscrolltop="dc.quickequaltop()"
                     homequiscrolled="dc.loadmore('new2tab', 'new2tablist')"
                     home-qpull-down="dc.quickData('up')" draggable="true">
                    <div class="itemin" ng-repeat="(key,item) in dc.quicklist track by $index">
                        <div class="date">{{key}}</div>
                        <div class="itemlr" ng-repeat="itemin in item">
                            <div class="item">
                                <div class="time">{{itemin.greenhms}}</div>
                                <div class="info">
                                    <div class="title">{{itemin.title}}</div>
                                    <div class="desc">
                                        {{itemin.content}}
                                    </div>
                                    <div ng-if="dc.isCordova" style="text-align: right;margin-top: 10px;cursor: pointer"
                                         ng-click="dc._share(itemin.content)">
                                        <span translate
                                              style="border: 1px solid #ddd;padding: 4px 10px;border-radius: 5px">share</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="dc.shownoquick" class="nomorenews"><img src="./img/nomore.png"/><span translate>No more content</span>
                    </div>
                    <div ng-show="dc.showquicksloading" class="shownewsloading">
                        <div class="loadinglr">
                            <div class="loadinglr-container loadinglr1">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr2">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr3">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                        </div>
                        <span translate>Loading</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="posa tabnewsout dcin" ng-class="{'tabnewsin': dc.shownewstab == 'new1'}" id="new1tab">
            <div ng-if="!dc.online  && !dc.newsloading" ng-click="dc.newsData('up');" class="nowire">
                <div class="nowirein">
                    <img src="./img/nowire.png"/>
                    <div class="nowireintext" translate>The network is not strong. Please click the screen to reload.
                    </div>
                </div>
            </div>
            <div class="newslistheight"
                 ng-if="(!dc.online && dc.newsloading) || (dc.newslist == '' && dc.online && dc.newsloading)">
                <div class="newupload">
                    <div class="loadinglr">
                        <div class="loadinglr-container loadinglr1">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                        <div class="loadinglr-container loadinglr2">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                        <div class="loadinglr-container loadinglr3">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                    </div>
                    <span translate>Loading</span>
                </div>
            </div>
            <div ng-if="dc.newslist == '' && dc.online && !dc.newsloading" class="nonews" ng-click="dc.newsData('up');">
                <div class="nonewsin">
                    <img src="./img/nonews.png"/>
                    <div class="nonewsintext" translate>No fresh content. Please click the screen to reload.</div>
                </div>
            </div>
            <div class="newslist" ng-if="dc.newslist !== ''  && dc.online  " id="new1tablist">
                <div class="newsupheight" id="newupheight">
                    <div class="newuprelease"><img src="./img/pulldown.png"/><span translate>Pull down to refresh</span>
                    </div>
                    <div class="newupload">
                        <div class="loadinglr">
                            <div class="loadinglr-container loadinglr1">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr2">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr3">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                        </div>
                        <span translate>Loading</span>
                    </div>
                </div>
                <div class="removescroll" homescrolled="dc.loadmore('new1tab', 'new1tablist')"
                     home-pull-down="dc.newsData('up')" draggable="true">
                    <div class="itemin">
                        <div class="item" ng-repeat="item in dc.newslist track by $index">
                            <img ng-src="{{item.coverPath}}" ng-click="dc.openNewsinModal(item.id)"/>
                            <div class="info">
                                <div class="title" ng-click="dc.openNewsinModal(item.id)">{{item.title}}</div>
                                <div class="litinfo">
                                    <div class="time">{{item.type}} <span>{{item.greentime}}</span></div>
                                    <div class="browse">{{item.pageviews}} <span translate>views</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="dc.shownonews" class="nomorenews"><img src="./img/nomore.png"/><span translate>No more content</span>
                    </div>
                    <div class="shownewsloading">
                        <div class="loadinglr">
                            <div class="loadinglr-container loadinglr1">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr2">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr3">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                        </div>
                        <span translate>Loading</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="posa tabnewsout dcin" ng-class="{'tabnewsin': dc.shownewstab == 'new3'}" id="new3tab">
            <div ng-if="!dc.online && !dc.currencyloading" ng-click="dc.currencyData('up');" class="nowire">
                <div class="nowirein">
                    <img src="./img/nowire.png"/>
                    <div class="nowireintext" translate>The network is not strong. Please click the screen to reload.
                    </div>
                </div>
            </div>
            <div class="newslistheight"
                 ng-if="(!dc.online && dc.currencyloading) || (dc.coinlist == '' && dc.online && dc.currencyloading)">
                <div class="newupload">
                    <div class="loadinglr">
                        <div class="loadinglr-container loadinglr1">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                        <div class="loadinglr-container loadinglr2">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                        <div class="loadinglr-container loadinglr3">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                            <div class="circle4"></div>
                        </div>
                    </div>
                    <span translate>Loading</span>
                </div>
            </div>
            <div ng-if="dc.coinlist == '' && dc.online && !dc.currencyloading" class="nonews"
                 ng-click="dc.currencyData('up');">
                <div class="nonewsin">
                    <img src="./img/nonews.png"/>
                    <div class="nonewsintext" translate>No fresh content. Please click the screen to reload.</div>
                </div>
            </div>
            <div class="quotelist" ng-if="dc.coinlist !== '' && dc.online" id="new3tablist">
                <div class="newsupheight" id="coinupheight">
                    <div class="newuprelease"><img src="./img/pulldown.png"/><span translate>Pull down to refresh</span>
                    </div>
                    <div class="newupload">
                        <div class="loadinglr">
                            <div class="loadinglr-container loadinglr1">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr2">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                            <div class="loadinglr-container loadinglr3">
                                <div class="circle1"></div>
                                <div class="circle2"></div>
                                <div class="circle3"></div>
                                <div class="circle4"></div>
                            </div>
                        </div>
                        <span translate>Loading</span>
                    </div>
                </div>
                <div class="titlelabel" id="cointitle">
                    <div class="numall" ng-click="dc.orderbyShowValue()">
                        <span translate class="sorttitle">Market value</span>
                        <span class="cointri"
                              ng-class="{'upcoin':dc.orderByValue == '-values', 'downcoin':dc.orderByValue == 'values'}"></span>
                    </div>
                    <div class="price" ng-click="dc.orderbyShowPrice()">
                        <span translate class="sorttitle">Price</span>
                        <span class="cointri"
                              ng-class="{'upcoin':dc.orderByPrice == '-price', 'downcoin':dc.orderByPrice == 'price'}"></span>
                    </div>
                    <div class="gains" ng-click="dc.orderbyShowGains()">
                        <span translate class="sorttitle">Latest gains</span>
                        <span class="cointri"
                              ng-class="{'upcoin':dc.orderByQuoteChange == '-quoteChange', 'downcoin':dc.orderByQuoteChange == 'quoteChange'}"></span>
                    </div>
                </div>
                <div class="removescroll" home-pull-down="dc.currencyData('up')" draggable="true">
                    <div class="itemin" ng-repeat="item in dc.coininvelist track by $index">
                        <div class="item">
                            <div class="leftcoininfo">
                                <div class="coinimg">
                                    <img src="./img/qidongyeicon.png"/>
                                    <span class="nameshort">{{item.name}}</span>
                                    <span class="fullname">{{item.cname}}</span>
                                </div>
                                <div class="numallin" ng-show="index.defaultCurrencyIsoCode == 'en';"><span translate>Market value</span>：$
                                    <span>{{item.value | number:2}}{{item.unit}}</span></div>
                                <div class="numallin" ng-show="index.defaultCurrencyIsoCode == 'zh_CN';"><span
                                        translate>Market value</span>：￥ <span>{{item.cnyValue | number:2}}{{item.cnyUnit}}</span>
                                </div>
                            </div>
                            <div class="pricein" ng-show="index.defaultCurrencyIsoCode == 'en';"
                                 ng-class="{ 'priceblue': (item.quoteChange | number:2) > 0, 'pricered': (item.quoteChange | number:2) < 0}">
                                ${{item.price | number:4}}
                            </div>
                            <div class="pricein" ng-show="index.defaultCurrencyIsoCode == 'zh_CN';"
                                 ng-class="{ 'priceblue': (item.quoteChange | number:2) > 0, 'pricered': (item.quoteChange | number:2) < 0}">
                                ￥{{item.cnyPrice | number:4}}
                            </div>
                            <div class="gainsin" ng-if="(item.quoteChange | number:2) == 0">
                                <div class="gainsinfo"><span>{{item.quoteChange | number:2}}%</span></div>
                            </div>
                            <div class="gainsin priceblue" ng-if="(item.quoteChange | number:2)  > 0">
                                <div class="gainsinfo">+<span>{{item.quoteChange | number:2}}%</span></div>
                            </div>
                            <div class="gainsin pricered" ng-if="(item.quoteChange | number:2) < 0">
                                <div class="gainsinfo"><span>{{item.quoteChange | number:2}}%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="itemin" ng-repeat="item in dc.coinlist | orderBy : dc.orderByList ">
                        <div class="item">
                            <div class="leftcoininfo">
                                <div class="coinimg">
                                    <img ng-src="{{item.coinImgHerf}}"/>
                                    <span class="nameshort">{{item.name}}</span>
                                    <span class="fullname">{{item.cname}}</span>
                                </div>
                                <div class="numallin" ng-show="index.defaultCurrencyIsoCode == 'en';"><span translate>Market value</span>：$
                                    <span>{{item.value | number:2}}{{item.unit}}</span></div>
                                <div class="numallin" ng-show="index.defaultCurrencyIsoCode == 'zh_CN';"><span
                                        translate>Market value</span>：￥ <span>{{item.cnyValue | number:2}}{{item.cnyUnit}}</span>
                                </div>
                            </div>
                            <div class="pricein" ng-show="index.defaultCurrencyIsoCode == 'en';"
                                 ng-class="{ 'priceblue': (item.quoteChange | number:2) > 0, 'pricered': (item.quoteChange | number:2) < 0}">
                                ${{item.price | number:4}}
                            </div>
                            <div class="pricein" ng-show="index.defaultCurrencyIsoCode == 'zh_CN';"
                                 ng-class="{ 'priceblue': (item.quoteChange | number:2) > 0, 'pricered': (item.quoteChange | number:2)< 0}">
                                ￥{{item.cnyPrice | number:4}}
                            </div>
                            <div class="gainsin" ng-if="(item.quoteChange | number:2) == 0">
                                <div class="gainsinfo"><span>{{item.quoteChange | number:2}}%</span></div>
                            </div>
                            <div class="gainsin priceblue" ng-if="(item.quoteChange | number:2) > 0">
                                <div class="gainsinfo">+<span>{{item.quoteChange | number:2}}%</span></div>
                            </div>
                            <div class="gainsin pricered" ng-if="(item.quoteChange | number:2)< 0">
                                <div class="gainsinfo"><span>{{item.quoteChange | number:2}}%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="dc.shownocoin" class="nomorenews"><img src="./img/nomore.png"/><span
                    translate>No more content</span></div>
            <div ng-show="dc.showcoinloading" class="shownewsloading">
                <div class="loadinglr">
                    <div class="loadinglr-container loadinglr1">
                        <div class="circle1"></div>
                        <div class="circle2"></div>
                        <div class="circle3"></div>
                        <div class="circle4"></div>
                    </div>
                    <div class="loadinglr-container loadinglr2">
                        <div class="circle1"></div>
                        <div class="circle2"></div>
                        <div class="circle3"></div>
                        <div class="circle4"></div>
                    </div>
                    <div class="loadinglr-container loadinglr3">
                        <div class="circle1"></div>
                        <div class="circle2"></div>
                        <div class="circle3"></div>
                        <div class="circle4"></div>
                    </div>
                </div>
                <span translate>Loading</span>
            </div>
        </div>
    </div>
    <div ng-show="dc.shownewsnav == 'dapp'" class="dapplr vh100">
        <div class="dapptitle dappprtitle" translate>
            Popular recommendation
        </div>
        <div class="dappswiper">
            <div class="dappswiperin">
                <div class="swiper-wrapper">
                    <!--<div class="swiper-slide dappslider1" data-click="dc.opendapplink('https://pushtx.btc.com/', 'BTC.com')">-->
                 <!--   <div class="swiper-slide dappslider1"
                         data-click="dc.opendapplink('http://www.inve.one', 'inve.one')">
                        <img src="./img/dappbanner1.png"/>
                    </div>-->

                    <div class="swiper-slide dappslider1" data-click="$root.go('LockPosition')">
                        <img src="./img/lockBanner.jpg"/>
                        <!--<div class="info">-->
                            <!--<div class="title" translate>INVE Lock Warehouse</div>-->
                            <!--<div class="litinfo" translate>-->
                                <!--Deposit the INVE into a smart contract and get interest on a regular basis-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>


                </div>
            </div>
            <div class="swiper-pagination">
            </div>
        </div>

        <div class="dapptitle dappgametitle" translate>
            Blockchain game
        </div>
        <div class="itemin dappgame clearfix">
            <!--<div class="item" ng-click="dc.opendapplink('https://www.etheremon.com', 'Etheremon')">-->
            <!--<img src="./img/game1.png" />-->
            <!--<div class="info">-->
            <!--<div class="title">Etheremon</div>-->
            <!--<div class="litinfo" translate>-->
            <!--Capture, train, evolve, battle and trade etheric monsters!-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="item" ng-click="dc.opendapplink('https://decentraland.org', 'Decentraland')">-->
            <!--<img src="./img/game2.png" />-->
            <!--<div class="info">-->
            <!--<div class="title">Decentraland</div>-->
            <!--<div class="litinfo" translate>-->
            <!--A virtual world built on the Ethereum blockchain.-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div ng-repeat="item in dc.dappList" class="item"-->
            <!--ng-click="dc.JumpHref( item.suffix==='1' ? item.appHomepage+'?address='+dc.address : item.appHomepage)">-->
            <!-- <div ng-if="dc.isCordova"
                  ng-repeat="item in dc.dappList"
                  class="item"
                  ng-click="dc.JumpHref(item.suffix==='1' ? item.appHomepage+dc.address : item.appHomepage)">-->
            <div
                    ng-if="dc.isCordova && dc.dappList"
                    ng-repeat="item in dc.dappList"
                    class="item"
                    ng-click="dc.JumpHref(item.appHomepage)">
                <img ng-src="{{item.appPortrait}}"/>
                <div class="info">
                    <div class="title">{{item.appName}}</div>
                    <div class="litinfo">
                        {{item.appReferrer}}
                    </div>
                </div>
            </div>
            <div class="item" ng-click="$root.go('diceWin')">
                <img src="./img/dice/dice_logo.jpg"/>
                <div class="info">
                    <div class="title">Coin Tossing</div>
                    <div class="litinfo" translate>
                        Coin Tossing
                    </div>
                </div>
            </div>

           <!-- <div class="item" ng-click="$root.go('LockPosition')">
                <img src="./img/LockPosition.png"/>
                <div class="info">
                    <div class="title" translate>INVE Lock Warehouse</div>
                    <div class="litinfo" translate>
                        Deposit the INVE into a smart contract and get interest on a regular basis
                    </div>
                </div>
            </div>-->
        </div>

    <!--    <div class="dapptitle dapptooltitle" translate>
            Common tools
        </div>
        <div class="itemin dapptool">
            &lt;!&ndash;<div class="item" ng-click="$root.go('authorization')">
                <img src="./img/tool1.png" />
                <div class="info">
                    <div class="title">StorNet</div>
                    <div class="litinfo">
                        给您所有的数据一个安全的家
                    </div>
                </div>
            </div>&ndash;&gt;
            <div class="item" ng-click="dc.opendapplink('https://cpuemergency.com', 'CPU Emergency')">
                <img src="./img/tool2.png"/>
                <div class="info">
                    <div class="title">CPU Emergency</div>
                    <div class="litinfo" translate>
                        Get 1.5 EOS CPU license for 8 hours for free.
                    </div>
                </div>
            </div>
            <div class="item" ng-click="dc.opendapplink('https://ens.domains', 'Ethereum Name Service')">
                <img src="./img/tool3.png"/>
                <div class="info">
                    <div class="title">Ethereum Name Service</div>
                    <div class="litinfo" translate>
                        ENS can be used to register .eth domain name in Ethereum, which can be used for DApp
                        (decentralized application)...
                    </div>
                </div>
            </div>
            <div class="item"
                 ng-click="dc.opendapplink('https://apollo.delphy.org.cn/?c=SKLYH6Nl&locale=zh-CN', 'Delphy')">
                <img src="./img/tool4.png"/>
                <div class="info">
                    <div class="title">Delphy</div>
                    <div class="litinfo" translate>
                        A predictive market platform based on Ethereum, distributed, mobile social.
                    </div>
                </div>
            </div>
            <div class="item" ng-click="dc.opendapplink('https://digix.global/app/#/marketplace/dgx', 'Digix')">
                <img src="./img/tool5.png"/>
                <div class="info">
                    <div class="title">Digix</div>
                    <div class="litinfo" translate>
                        Digital assets calibrated with gold.
                    </div>
                </div>
            </div>
        </div>
        <div class="dapptitle dapptradtitle" translate>
            Trading platform
        </div>
        <div class="itemin dapptrad">
            <div class="item" ng-click="dc.opendapplink('https://localethereum.com/cn', 'Localethereum')">
                <img src="./img/dapptranbig.png"/>
                <div class="info">
                    <div class="title">Localethereum</div>
                    <div class="litinfo" translate>
                        The use of Ethereum smart contracts and peer-to-peer encryption technology enables direct
                        exchange of ether and fiat money between people without the need for a middleman guarantee.
                    </div>
                </div>
            </div>
            <div class="item"
                 ng-click="dc.opendapplink('https://coinswitch.co/?isDapp=1&utm_source=imtoken&locale=zh-CN', 'CoinSwitch')">
                <img src="./img/dtran1.png"/>
                <div class="info">
                    <div class="title">CoinSwitch</div>
                    <div class="litinfo" translate>
                        Support for trading in more than 300 digital currencies without the need to create an account on
                        any exchange.
                    </div>
                </div>
            </div>
            <div class="item" ng-click="dc.opendapplink('https://changelly.com', 'Changelly')">
                <img src="./img/dtran2.png"/>
                <div class="info">
                    <div class="title">Changelly</div>
                    <div class="litinfo" translate>
                        Exchange cryptocurrencies at the best exchange rate.
                    </div>
                </div>
            </div>
            <div class="item" ng-click="dc.opendapplink('https://m-app.bloqboard.com', 'Bloqboard')">
                <img src="./img/dtran3.png"/>
                <div class="info">
                    <div class="title">Bloqboard</div>
                    <div class="litinfo" translate>
                        Decentralized lending platform.
                    </div>
                </div>
            </div>
        </div>-->
    </div>


    <div ng-if="index.payController" class="payBox" id="iframeCen">
        <div class="payReqBox">
            <div class="payReqTitle" translate>
                Request payment
            </div>
            <div class="payReqValueBox">
                <span class="payReqValue">{{dc.orderPayData.amount}}</span>
                <span class="payReqCompany">INVE</span>
            </div>
            <div class="payReqTo">
                <div class="toName">to</div>
                <div class="toValue">{{dc.orderPayData.toaddress}}</div>
            </div>
            <div class="payReqFrom">
                <div class="fromName">from</div>
                <div class="fromValue">{{dc.address}}</div>
            </div>
            <div class="payReqBtn">
                <div class="BtnYes" ng-click="dc.confirmPay()" translate>OK</div>
                <div class="BtnNo" ng-click="dc.cancelPay()" translate>CANCEL</div>
            </div>
        </div>
    </div>


    <div ng-show="dc.showselectwt" class="popconfirm" id="shareBox">
        <div class="popmask" ng-click="dc.showselectwt = false;"></div>
        <div class="popcontentwt animated upScaleIn">
            <div class="sendswitchtab clearfix">
                <div class="tab-container">
                    <a translate>Share to</a>
                </div>
            </div>
            <ul class="m0">
                <li ng-click="dc._weixinShare()">
                    <div>
                        <img src="./img/share/weixin.png" alt="">
                        <div translate>Wechat</div>
                    </div>
                </li>
                <li ng-click="dc._pengyouquanShare()">
                    <div>
                        <img src="./img/share/pengyouquan.png" alt="">
                        <div translate>Friendship</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <style>
        #shareBox .m0 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
        }

        #shareBox .m0 li {
            font-size: 14px;

        }

        #shareBox .popcontentwt ul li:first-child {
            margin-top: 0;
        }

        #shareBox .popcontentwt ul li:last-child {
            margin-bottom: 0;
        }

        .zindex {
            z-index: 1000;
        }
    </style>

    <style>
        .payBox {
            position: fixed;
            top: 0;
            z-index: 9999;
            width: 100%;
            height: 100%;
            background: rgba(000, 000, 000, 0.3);
        }

        .payBox .payReqBox {
            width: 80%;
            margin: 20% 10%;
            background: #fff;
            padding: 19px;
        }

        .payBox .payReqBox .payReqTitle {
            font-size: 16px;
            color: #333;
            text-align: center;
            padding: 13px 0 26px 0;
        }

        .payBox .payReqBox .payReqValueBox {
            display: flex;
            align-items: flex-end;
        }

        .payBox .payReqBox .payReqValueBox .payReqValue {
            flex: 1;
            text-align: right;
            font-size: 64px;
            color: #45AD8E;
        }

        .payBox .payReqBox .payReqValueBox .payReqCompany {
            flex: 1;
            text-align: left;
            font-size: 16px;
            color: #bbb;
            padding-bottom: 20px;
        }

        .payBox .payReqBox .payReqTo {
        }

        .payBox .payReqBox .payReqTo .toName {
            color: #323232;
            font-size: 14px;
        }

        .payBox .payReqBox .payReqTo .toValue {
            color: #909090;
            font-size: 12px;
        }

        .payBox .payReqBox .payReqFrom {
            margin: 24px 0;
        }

        .payBox .payReqBox .payReqFrom .fromName {
            color: #323232;
            font-size: 14px;
        }

        .payBox .payReqBox .payReqFrom .fromValue {
            color: #909090;
            font-size: 12px;
        }

        .payBox .payReqBox .payReqBtn {
            display: flex;
        }

        .payBox .payReqBox .payReqBtn .BtnYes {
            flex: 1;
            margin: 0 10px;
            text-align: center;
            height: 35px;
            line-height: 35px;
            color: #fff;
            background: #3B3B3B;
        }

        .payBox .payReqBox .payReqBtn .BtnNo {
            flex: 1;
            margin: 0 10px;
            text-align: center;
            height: 35px;
            line-height: 35px;
            color: #3B3B3B;
            border: 1px solid #3B3B3B;
            background: #fff;
        }


    </style>
</div>

<!-- discovery dis -->
<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>
