<div ng-controller="LockPositionController as lock">
    <!--导入钱包-导入钱包  start-->
    <div class="cwpage iwpage pfixed topp" ng-init="lock.showtab = 'tabcold'">
        <!--浏览器默认的返回-->
        <div>
            <div
                    class="topbar-container"
                    ng-include="'views/includes/topbar.html'"
                    ng-init="titleSection='锁仓增值'; goToNews = true;">
            </div>
        </div>

        <div class="lockBox">
            <div class="Explain">
                <p>“锁仓增值”是InterValue基金会为用户提供的一项金融服务，并由DApp实现。您可以将INVE存入锁仓DApp，锁定期为一年，年利率为4%。</p>
                <p>INVE锁定后，你可以每月提取（总额+利息) / 12 INVE。提取需要手动完成，延期提取不会获得额外利息。</p>
            </div>
            <div class="lockFrom">
                <ul class="fromList">
                    <li class="fromItem">
                        <div class="itemLogo"><img src="./img/lockaddress2.png" alt=""></div>
                        <div class="itemName">锁仓地址</div>
                        <div class="itemExplain pointer" ng-click="lock.showselectlayermove()">{{lock.lockAddress}}
                        </div>
                        <div class="itemRight"><img src="./img/more.png" alt=""></div>
                    </li>
                    <li class="fromItem">
                        <div class="itemLogo"><img src="./img/lockaddress.png" alt=""></div>
                        <div class="itemName">提取地址</div>
                        <input type="text" class="itemExplain" placeholder="请输入INVE提取地址" ng-model="lock.extractAddress">
                    </li>
                    <li class="fromItem">
                        <button ng-click="lock.goTransfer()">锁仓</button>
                        <button ng-click="lock._extrac()">提取</button>
                    </li>
                </ul>
            </div>
            <div class="lockExplain">
                <div class="title">锁仓</div>
                <ul>
                    <li>1.打开InWallet 进入INVE转账页面</li>
                    <li>2.在INVE转出地址中选择INVE钱包地址，即 <span>锁仓地址</span></li>
                    <li>3.在INVE转入地址栏中输入锁仓Dapp地址：<span>{{lock.lockDappAddress}}</span></li>
                    <li>4.输入金额并确定转账</li>
                </ul>
            </div>

            <div class="extractExplain">
                <div class="title">提取</div>
                <ul>
                    <li>1.打开InWallet 进入锁仓奖励Dapp页面</li>
                    <li>2.在锁仓地址栏中选择<span>锁仓地址</span> （INVE钱包地址）</li>
                    <li>3.在提取地址栏中输入提取地址（默认为锁仓地址）</li>
                    <li>4.点击提取按钮进行提取</li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-show="lock.showselectwtmove" class="popconfirm walletpop">
        <div class="popmask" ng-click="lock.showselectwtmove = false;"></div>
        <div class="popcontentwt animated upScaleIn">
            <div class="sendswitchtab clearfix">
                <div class="tab-container" ng-click="index.changesendType('INVE');"
                     ng-class="{'selected': index.showpopwallet == 'INVE'}">
                    <a translate><img src="./img/inveltimg.png"/>INVE</a>
                </div>
              <!--  <div class="tab-container" ng-click="index.changesendType('BTC');"
                     ng-class="{'selected': index.showpopwallet == 'BTC'}">
                    <a translate><img src="./img/btcltimg.png"/>BTC</a>
                </div>
                <div class="tab-container" ng-click="index.changesendType('ETH');"
                     ng-class="{'selected': index.showpopwallet == 'ETH'}">
                    <a translate><img src="./img/ethltimg.png"/>ETH</a>
                </div>-->
            </div>
            <ul class="m0" ng-show="index.chooseWalletInfo">
                <li ng-repeat="item in index.chooseWalletInfo"
                    ng-click="lock.findPaymentAddressmove(item);">
                    <div class="liin">
                        <div class="ld">
                            <span class="greendot"></span>
                            <div class="limg">
                                <img ng-src="{{item.image}}"/>
                            </div>
                            <span class="lname"
                                  ng-show="item.walletName.length > 7">{{item.walletName | limitTo:7}}...</span>
                            <span class="lname" ng-show="item.walletName.length <= 7">{{item.walletName}}</span>
                        </div>
                        <div class="rd">
                            <span translate>Available amount:</span>&nbsp;<span
                                class="flex1span">{{item.stables}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div ng-show="index.chooseWalletInfo.length == 0  && index.showpopwallet == 'INVE'" class="popbutton">
                <button class="awbtn"
                        ng-click="$root.go('import'); index.type='INVE';index.backdefault = true;index.showselectwtmove = false;"
                        translate>Import INVE wallet
                </button>
                <button ng-click="$root.go('addwallet'); index.type='INVE';index.backdefault = true;index.showselectwtmove = false;"
                        translate>Create INVE wallet
                </button>
            </div>
            <div ng-show="index.chooseWalletInfo.length == 0 && index.showpopwallet == 'BTC'" class="popbutton">
                <button class="awbtn"
                        ng-click="$root.go('importbtc');index.backdefault = true;index.showselectwtmove = false;"
                        translate>Import BTC wallet
                </button>
                <button ng-click="$root.go('addwallet'); index.type='BTC';index.backdefault = true;index.showselectwtmove = false;"
                        translate>Create BTC wallet
                </button>
            </div>
            <div ng-show="index.chooseWalletInfo.length == 0 && index.showpopwallet == 'ETH'" class="popbutton">
                <button class="awbtn"
                        ng-click="$root.go('importeth');index.backdefault = true;index.showselectwtmove = false;"
                        translate>Import ETH wallet
                </button>
                <button ng-click="$root.go('addwallet'); index.type='ETH';index.backdefault = true;index.showselectwtmove = false;"
                        translate>Create ETH wallet
                </button>
            </div>
        </div>
    </div>

    <!--<link rel="stylesheet" href="./css/lockPosition.css">-->
</div>
