<div ng-controller="LockPositionController as lock">
    <!--导入钱包-导入钱包  start-->
    <div class="cwpage iwpage pfixed topp" ng-init="lock.showtab = 'tabcold'">
        <!--浏览器默认的返回-->
        <div>
            <div
                    class="topbar-container"
                    ng-include="'views/includes/topbar.html'"
                    ng-init="titleSection='INVE Lock Warehouse'; goToNews = true;">
            </div>
        </div>

        <div class="lockBox">
            <div class="Explain">
                <p>{{"“Lock-in value-added” is a financial service provided by the InterValue Foundation to users and implemented by DApp. You can deposit the INVE into the lock DApp with a total lock of 150 million INVE" | translate}}</p>
                <p>{{"After INVE is locked, you can withdraw the total interest/total month, and the remaining principal interest is calculated based on the remaining principal, the annual interest rate, and the lockout period. The extraction needs to be done manually, and the deferred extraction will not receive additional interest" | translate}}</p>
            </div>
            <div class="lockFrom">
                <ul class="fromList">
                    <li class="fromItem">
                        <button ng-click="lock.goTransfer()" translate>Lock-in</button>
                        <button ng-click="lock.goExtract()" translate>Withdraw</button>
                    </li>
                </ul>
            </div>

            <div class="lockExplain" ng-if="lock.testList">
                <div class="title">{{'Lock-in Rate' | translate}}</div>
                <table>
                    <thead>
                    <tr>
                        <th>{{ 'Amount' | translate}}\{{ 'Duration' | translate}}</th>
                        <th>3 {{'month' | translate}}</th>
                        <th>6 {{ 'month' | translate}}</th>
                        <th>12 {{'month' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>X<100W</td>
                        <td>{{lock.testList[0].interestRate / 100 }} %</td>
                        <td>{{lock.testList[3].interestRate / 100 }} %</td>
                        <td>{{lock.testList[6].interestRate / 100 }} %</td>
                    </tr>
                    <tr>
                        <td>100W<=X<1000W</td>
                        <td>{{lock.testList[1].interestRate / 100 }} %</td>
                        <td>{{lock.testList[4].interestRate / 100 }} %</td>
                        <td>{{lock.testList[7].interestRate / 100 }} %</td>
                    </tr>
                    <tr>
                        <td>1000W<=X</td>
                        <td>{{lock.testList[2].interestRate / 100 }} %</td>
                        <td>{{lock.testList[5].interestRate / 100 }} %</td>
                        <td>{{lock.testList[8].interestRate / 100 }} %</td>
                    </tr>


                    <!--  <tr ng-repeat="item in lock.rateObj track by $index">
                          <td ng-if="item[$index].balTerm===1">X < 100W</td>
                          <td ng-if="item[$index].balTerm===2">100W <= X <1000W</td>
                          <td ng-if="item[$index].balTerm===3">1000W <= X</td>
                          <td ng-repeat="items in item">
                              {{items.interestRate / 100}} %
                          </td>
                      </tr>-->
                    </tbody>

                </table>


                <style>
                    table tr td, table tr th {
                        padding: 15px 10px;
                    }
                </style>
            </div>

            <div class="lockExplain">
                <div class="title" translate>Transaction Record</div>
                <table>
                    <thead>
                    <tr>
                        <th translate>Type Transaction</th>
                        <th translate>Transaction Amount</th>
                        <th translate>Transaction Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in lock.transactionList track by $index">
                        <td ng-if="item.addressFrom === lock.lockDappAddress" translate>Withdraw</td>
                        <td ng-if="item.addressTo === lock.lockDappAddress" translate>Lock-in</td>
                        <td>{{item.amount}}</td>
                        <td ng-if="item.result==='pending'" translate>Confirming</td>
                        <td ng-if="item.result==='good'" translate>Confirmed</td>
                    </tr>
                    </tbody>
                </table>
                <style>
                    table tr td, table tr th {
                        padding: 15px 10px;
                    }
                </style>
            </div>
        </div>
    </div>

</div>
