<div ng-controller="LockPositionController as lock">
    <!--导入钱包-导入钱包  start-->
    <div class="cwpage iwpage pfixed topp" ng-init="lock.showtab = 'tabcold'">
        <!--浏览器默认的返回-->
        <div>
            <div
                    class="topbar-container"
                    ng-include="'views/includes/topbar.html'"
                    ng-init="titleSection='INVE Lock Warehouse'; goToNews = true;">
            </div>
        </div>

        <div class="lockBox">
            <div class="Explain">
                <p>{{"'INVE Lock Warehouse' is a financial service provided by the InterValue Foundation to users and implemented by DApp. You can deposit the INVE into the lock DApp with a lock-up period of one year and an annual interest rate of 4%" | translate}}</p>
                <p>{{"After INVE is locked, you can withdraw (total + interest) / 12 INVE per month. The extraction needs to be done manually, and the deferred extraction will not receive additional interest" |  translate}}</p>
            </div>
            <div class="lockFrom">
                <ul class="fromList">
                    <li class="fromItem">
                        <button ng-click="lock.goTransfer()" translate>Lock-in</button>
                        <button ng-click="lock.goExtract()" translate>Withdraw</button>
                    </li>
                </ul>
            </div>

            <div class="lockExplain" ng-if="lock.testList">
                <div class="title">{{'Lock-in Rate' | translate}}</div>
                <table>
                    <thead>
                    <tr>
                        <th>{{ 'Amount' | translate}}\{{ 'Duration' | translate}}</th>
                        <th>3 {{'month' | translate}}</th>
                        <th>6 {{ 'month' | translate}}</th>
                        <th>12 {{'month' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>X<100W</td>
                        <td>{{lock.testList[0].interestRate / 100 }} %</td>
                        <td>{{lock.testList[3].interestRate / 100 }} %</td>
                        <td>{{lock.testList[6].interestRate / 100 }} %</td>
                    </tr>
                    <tr>
                        <td>100W<=X<1000W</td>
                        <td>{{lock.testList[1].interestRate / 100 }} %</td>
                        <td>{{lock.testList[4].interestRate / 100 }} %</td>
                        <td>{{lock.testList[7].interestRate / 100 }} %</td>
                    </tr>
                    <tr>
                        <td>1000W<=X</td>
                        <td>{{lock.testList[2].interestRate / 100 }} %</td>
                        <td>{{lock.testList[5].interestRate / 100 }} %</td>
                        <td>{{lock.testList[8].interestRate / 100 }} %</td>
                    </tr>


                    <!--  <tr ng-repeat="item in lock.rateObj track by $index">
                          <td ng-if="item[$index].balTerm===1">X < 100W</td>
                          <td ng-if="item[$index].balTerm===2">100W <= X <1000W</td>
                          <td ng-if="item[$index].balTerm===3">1000W <= X</td>
                          <td ng-repeat="items in item">
                              {{items.interestRate / 100}} %
                          </td>
                      </tr>-->
                    </tbody>

                </table>


                <style>
                    table tr td, table tr th {
                        padding: 15px 10px;
                    }
                </style>
            </div>
            <!--   <div class="lockExplain">
                   <div class="title" translate>Lock-in</div>
                   <ul>
                       <li translate>1. Open inWallet and go to the INVE Transfer page</li>
                       <li> {{'2. Select the INVE wallet address in the INVE transfer address' | translate}}<span
                               translate>that is the lock address</span></li>
                       <li> {{'3. Enter the lock DApp address in the INVE transfer address field：' | translate}}<span>{{lock.lockDappAddress}}</span>
                       </li>
                       <li translate>4. Enter the amount and determine the transfer</li>
                   </ul>
               </div>-->

            <!--  <div class="extractExplain">
                  <div class="title" translate>Withdraw</div>
                  <ul>
                      <li translate>1. Open inWallet and enter INVE Lock Warehouse</li>
                      <li>{{'2. Select the lock address (INVE wallet address) in the lock address drop-down input box' | translate}}</li>
                      <li translate>3. Enter the withdraw address in the Withdraw Address field</li>
                      <li translate>4. Click the Withdraw button</li>
                  </ul>
              </div>-->
        </div>
    </div>

</div>
