<div class="pfixed" ng-controller="registerController as rs">
    <nav ng-controller="topbarController as topbar" class="tab-bar">
        <section class="left-small">
            <a ng-click="$root.go('authorization')">
                <img src="./img/back.png">
            </a>
        </section>
        <section class="middle tab-bar-section">
            <h1 class="ellipsis" translate></h1>
        </section>
    </nav>
    <div class="regislr center">
        <form name="regisform" ng-submit="rs.submitset()">
            <div class="topimg">
                <img src="./img/register.png"/>
                <div class="title" translate>Register an account</div>
            </div>
            <div class="adinputitem" mdinputvalidc>
                <div class="adinputic">
                    <div class="adinputimg itemnum"></div>
                    <input name="host" type="text" placeholder="{{'Phone or mailbox number'|translate}}"/>
                    <div class="getyzm" translate>get verification code</div>
                </div>
                <p class="adinputp" translate></p>
            </div>
            <div class="adinputitem" mdinputvalidc>
                <div class="adinputic">
                    <div class="adinputimg itemyzm"></div>
                    <input name="username" type="text"/>
                    <img src="./img/dappyzmimg.png" class="imgyzm"/>
                </div>
                <p class="adinputp" translate></p>
            </div>
            <div class="adinputitem" mdinputvalidc>
                <div class="adinputic">
                    <div class="adinputimg itemmcode"></div>
                    <input name="username" type="text" placeholder="{{'SMS verification code'|translate}}"/>
                </div>
                <p class="adinputp" translate></p>
            </div>
            <button type="submit" translate>
                Register
            </button>
            <span class="fbspan" translate ng-click="$root.go('login')">Account password login</span>
        </form>
    </div>
</div>