<!-- 收款地址簿管理视图 -->
<div class="addaddbook pfixed topp">
  <!-- 顶部导航栏 -->
  <nav class="tab-bar">
      <!-- 左区 -->
      <section class="left-small">
          <a ng-if="!editAddressbook && !addAddressbookEntry" ng-click="cancel()">
              <img src="./img/back.png">
          </a>
          <a ng-if="editAddressbook" ng-click="toggleEditAddressbook()">
              <img src="./img/back.png">
          </a>
          <a ng-if="addAddressbookEntry" ng-click="newAddress = ''; toggleAddAddressbookEntry()">
              <img src="./img/back.png">
          </a>
      </section>

      <!-- 中区 -->
      <section class="middle tab-bar-section">
          <h1 class="title ellipsis" translate ng-show="!addAddressbookEntry">
              Addressbook
          </h1>
          <h1 class="title ellipsis" translate ng-show="addAddressbookEntry">
              Add {{addressType}} address
          </h1>
      </section>

      <!-- 右区：编辑、完成、二维码 -->
      <section class="right-small">
          <!-- 非编辑状态且不是添加地址时，显示编辑功能 -->
          <a ng-if="!editAddressbook && !addAddressbookEntry"  ng-click="toggleEditAddressbook()">
              <span translate>Select</span>
          </a>
          <!-- 非编辑状态且不是添加地址时，显示编辑功能 -->
          <a ng-if="editAddressbook"  ng-click="selectAll()">
              <span translate>Select</span>
          </a>
          <!-- 添加地址的扫描功能 -->
          <qr-scanner ng-show="addAddressbookEntry && index.isComplete" on-scan="scan(data)" before-scan="topbar.onBeforeScan()"></qr-scanner>
      </section>
  </nav>

  <!-- 主视图 -->
    <div class="tabclicktitle oneaddrtype" ng-show="shortType !== false">
        <div class="tab-container" >
            <a  translate>{{addressType}}</a>
        </div>
    </div>
    <div class="tabclicktitle"  ng-show="shortType == false">
        <div class="tab-container" ng-click="changeType('INVE')" ng-class="{'selected': addressType == 'INVE'}">
            <a  translate>INVE</a>
        </div>
        <div class="tab-container" ng-click="changeType('BTC')" ng-class="{'selected': addressType == 'BTC'}">
            <a  translate>BTC</a>
        </div>
        <div class="tab-container" ng-click="changeType('ETH')" ng-class="{'selected': addressType == 'ETH'}" >
            <a translate>ETH</a>
        </div>
    </div>
        <!-- 收款地址管理 -->
        <div class="addedit"  ng-show="!addAddressbookEntry && !editAddressbook">
          <div class="f9fafch"></div>
          <div class="addeditin">
              <!-- 非添加地址页面时，显示收款地址列表 -->
              <ul class="no-bullet addalist">
                    <!-- 收款地址列表 -->
                    <li class="line-b" ng-repeat="item in addressList" draggable="true" addr-swipers ng-click="goBackAddr(item.addr,addressType);">
                        <!--<div  class="addrmove" translate ng-click="goTransfer($event,item.addr);">
                            Transfer
                        </div>-->
                        <div class="addreliaddr ellipsis">
                            {{item.name}}
                            <div class="adwwtaddr">{{item.addr | tenEllips}}<span class="copyspan" ng-click="copyAddress(item.addr,$event)"><img src="./img/copy.png"></span></div>
                        </div>
                        <div  class="addrremove" translate ng-click="showDeleteF(item.addr, $event);">
                            Remove
                        </div>
                    </li>
              </ul>
              <div  ng-show="!noAddress">
                  <div class="nowalletinfo">
                      <img src="./img/nonews.png">
                      <h5 translate>No address</h5>
                  </div>
              </div>
              <div class="addaliste">
                  <button ng-click="toggleAddAddressbookEntry()" class="text-close size-12" translate>
                      Add
                  </button>
              </div>
          </div>
      </div>

        <!-- 添加收款地址页面 -->
        <div ng-show="addAddressbookEntry" class="addaaddr">
              <div class="f9fafch"></div>
              <form name="addressbookForm" class="p15h" no-validate>
                  <!-- 校验及错误信息 -->
                  <div class="text-warning size-12" ng-show="error">{{error|translate}}</div>
                  <!-- 地址 -->
                  <!--<div class="adinputitem">
                      <div mdinputc class="adcpmdic">
                          <label translate mdlabel for="address">Wallet address</label>
                          <input mdinput type="text" id="address" name="address" maxlength="35"
                                    ng-model="addressbook.address" required valid-address="{{addressType}}">
                      </div>
                  </div>-->
                   <!--名称 -->
                  <!--<div class="adinputitem">
                      <div mdinputc class="adcpmdic">
                          <label translate mdlabel for="label">Name of the contact</label>
                          <input mdinput type="text" id="label" name="label"
                                   ng-model="addressbook.label" required ng-minlength="1" ng-maxlength="20"
                                   minlength="1" maxlength="20">
                      </div>
                  </div>-->
                  <div class="addaddress">
                      <div class="addaddressimg">
                          <img src="img/wallet.png">
                      </div>
                      <div class="addaddressinput">
                          <label translate for="address">Address:</label>
                          <input type="text" id="address" name="address" maxlength="42"
                                 ng-model="addressbook.address" required valid-address="{{addressType}}" placeholder="{{ 'Wallet address' | translate}}">
                      </div>
                  </div>
                  <!-- 名称 -->
                  <div class="addaddress">
                      <div class="addaddressimg">
                          <img src="img/addresslabel.png">
                      </div>
                      <div class="addaddressinput">
                          <label translate for="label">Label:</label>
                          <input type="text" id="label" name="label"
                                 ng-model="addressbook.label" required ng-minlength="1" ng-maxlength="20"
                                 minlength="1" maxlength="20" placeholder="{{ 'Name of the contact' | translate}}">
                      </div>
                  </div>
                  <!-- 按钮 -->
                  <div class="addrbtn">
                      <button class="awbtn" type="button" ng-click="newAddress = ''; toggleAddAddressbookEntry()" translate>Cancel</button>
                      <button type="submit" ng-disabled="!addressbookForm.$valid"  ng-click="newAddress = ''; addressbookSave(addressbook, addressType)" translate>Save</button>
                  </div>
              </form>
      </div>
        <!-- 多选删除页面-->
        <div class="addalist2" ng-show="editAddressbook" >
            <div class="f9fafch"></div>
            <ul class="no-bullet" ng-show="noAddress">
                <!-- 收款地址列表 -->
                <li class="line-b" ng-repeat="item in addressList" ng-click="item.select = !item.select">
                    <div class="addreliaddr ellipsis">
                        {{item.name}}
                        <div class="adwwtaddr">{{item.addr | tenEllips}}<span class="copyspan" ng-click="copyAddress(item.addr,$event)"><img src="./img/copy.png"></span></div>
                    </div>
                    <!-- 编辑状态，则可选定地址 -->
                    <a class="selectAddressbook" ng-class="{'select': item.select}">
                    </a>
                </li>
                <li class="deleteAll" ng-click="showDeleteSF()" >
                    <img ng-src="./img/trashb.png"/>
                </li>
            </ul>
            <div  ng-show="!noAddress" class="addeditin">
                <div class="nowalletinfo">
                    <img src="./img/nonews.png">
                    <h5 translate>No address</h5>
                </div>
            </div>
        </div>

    <div ng-if="showDelete" class="popconfirm addresspop">
        <div class="popmask" ng-click="hideDeleteF()"></div>
        <div class="popcontent">
            <div class="addresspopimg">
                <img src="./img/qdeletecode.png">
                <div translate class="size-16 redcolor">Are you sure you want to delete the select addresses?</div>
            </div>
            <div class="p25h popbutton">
                <button class="awbtn" ng-click="hideDeleteF()" translate>Cancel</button>
                <button ng-click="addressbookRmove(deleteaddr, addressType);" translate>Confirm</button>
            </div>
        </div>
    </div>
    <div ng-if="showDeletes" class="popconfirm addresspop">
        <div class="popmask" ng-click="hideDeleteSF()"></div>
        <div class="popcontent">
            <div class="addresspopimg">
                <img src="./img/qdeletecode.png" >
                <div translate class="size-16 redcolor">Are you sure you want to delete the select addresses?</div>
            </div>
            <div class="p25h popbutton">
                <button class="awbtn" ng-click="hideDeleteSF()" translate>Cancel</button>
                <button ng-click="deleteSelect(addressType);" translate>Confirm</button>
            </div>
        </div>
    </div>
</div>
