<div class="passModalMask">
</div>

<div  ng-controller="passwordController as pass" class="passModal" ng-class="{'animated  bounceInDown':index.askPassword}" ng-init="pass.passInputFocus()">
  <form ng-submit="pass.set(index.askPassword.isSetup, index.askPassword.callback)" style="background-color: #fff">
    <div class="addpassl">
      <div class="closediv" ng-click="pass.close(index.askPassword.callback)">
      </div>
      <label class="size-16 center" for="password" ng-if="index.askPassword.isSetup">
        <span ng-show="!pass.isVerification" translate>Set up a password</span>
        <span ng-show="pass.isVerification" translate>Repeat password</span>
      </label>
      <label class="size-16 center" for="password" ng-if="!index.askPassword.isSetup">
        <span ng-if="!index.changePD" translate>Enter your password</span>
        <span ng-if="index.changePD" translate>Enter your old password</span>
      </label>
    </div>
    <div class="addpassi">
      <div class="adinputitem">
        <div ng-show="index.passMassage">
          <div>订单号：{{index.orderNumber| limitTo:16}}...{{index.orderNumber| limitTo:-16}}</div>
          <div>发送地址：{{index.sendAddress}}</div>
          <div>收款地址 {{index.receiveAddress}}</div>
          <div>金额：  {{index.value}}</div>
        </div>
        <div class="adinputitem">
          <div class="adinputic">
            <div class="adinputimg aiwpass"></div>
            <input type="password" autocomplete="new-password" id="passwordInput" name="password" ng-model="pass.password" ng-attr-placeholder="{{'Password'|translate}}"
                   autocomplete="off" ng-minlength="1" ng-maxlength="20" ng-keydown="pass.hidepasserror()"/>
          </div>
        </div>
        <div class="text-warning size-10" ng-show="index.askPassword.error && !pass.password"><span>*</span>{{index.askPassword.error|translate}}</div>
        <div ng-show="index.askPassword.isSetup">
          <span class="text-warning size-12 center" ng-show="pass.error">{{pass.error|translate}}</span>
        </div>
      </div>
      <button class="" ng-disabled="!pass.password">
        <span ng-if="index.askPassword.isSetup" translate>SET</span>
        <span ng-if="!index.askPassword.isSetup" translate>OK</span>
      </button>
    </div>

    
  </form>
</div>
