<div class="rebackuplayer">
    <div class="rebackuplayerin">
        <div class="title" translate>Safety warning</div>
        <div class="info m15b" translate>Your wallet mnemonic has not been backed up. To prevent loss of assets caused by forgetting your password, deleting your app, or losing your phone, be sure to back up your mnemonics.</div>
        <div class="popbutton">
            <button class="awbtn" translate ng-click="index.remindClose()">Remind later</button>
            <button translate ng-click="index.remind()">I know</button>
        </div>
    </div>
</div>